BOT_TOKEN=123456:replace_me
DATABASE_URL=postgresql://neuroklakson:neuroklakson@postgres:5432/neuroklakson
DEFAULT_GENERATION_MODE=absurd
BREDO_GENERATION_PROBABILITY=3
BREDO_MESSAGE_VOICEOVER_PROBABILITY=1
BREDO_DEMOTIVATOR_WATERMARK=neuroklakson
BREDO_DEMOTIVATOR_TEXT_FONT=fonts/OpenSans-Bold.ttf
BREDO_QUOTE_HEADLINE_TEXT=Great minds of Telegram
BREDO_QUOTE_HEADLINE_TEXT_FONT=fonts/OpenSans-Bold.ttf
BREDO_QUOTE_AUTHOR_NAME_TEXT_FONT=fonts/OpenSans-Regular.ttf
BREDO_QUOTE_QUOTE_TEXT_FONT=fonts/OpenSans-Italic.ttf
